<h2>Scraps</h2>

<%= form_with model: @scrap do |form| %>
  <div>
    <%= form.text_area :body %>
    <% @scrap.errors.full_messages_for(:body).each do |message| %>
      <div><strong><%= message %></strong></div>
    <% end %>
    <strong>Ctrl+Enterで投稿できるよ</strong>
  </div>
<% end %>

<% @scraps.each do |scrap| %>
  <p>
    <%= scrap.created_at.localtime %><br>
    <%= scrap.body %>
  </p>
<% end %>

<script>
let pressedCtrl = false;
const ctrlKey = 17;
const enterKey = 13;
const form = document.getElementsByTagName('form')[0];
window.onload = function() {
  // ロード完了時、入力エリアにフォーカスを当てる
  form.getElementsByTagName('textarea')[0].focus();
};
form.onkeyup = function(e) {
  if (e.keyCode == ctrlKey) {
    pressedCtrl = false;
  }
};
form.onkeydown = function(e) {
  if (e.isComposing || e.keyCode === 229) {
    // IMEイベントの無視(https://developer.mozilla.org/ja/docs/Web/API/GlobalEventHandlers/onkeydown)
    return;
  }
  if (e.keyCode == ctrlKey) {
    pressedCtrl = true;
    return;
  }
  if (e.keyCode == enterKey && pressedCtrl) {
    form.submit();
  }
};
</script>